.header-nav{
  background-color: rgb(2, 33, 33);
  display: flex;
  padding: 50px;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
}
.single-nav{
  margin: 60px; 
}
.cart-style{
  display: grid;
  grid-template-columns: 3fr 1fr;
}